<template name="adlist">
  <br>
  {{#if TemplateVar.get "deploying"}}
  	<div class="row">
  		<p class='teal-text'>Deploying New Ad Contract...</p>
  		<div class="progress">
  			<div class="indeterminate"></div>
  		</div>
  	</div>
  {{else}}
  	<div class="left btn black new-ad"> New Ad </div>
  {{/if}}
  {{#ipfsInfo config=adlistInfo}}
   <h3>
   	{{title}} <br> 
   </h3>
   <b>Created On:</b>{{createTime}}<br> <small> {{address}} </small>
   {{#markdown}}{{description}}{{/markdown}}
   {{/ipfsInfo}}
   <ul class="collection">
    {{#each adArray}}
      <li class="collection-item avatar">
        {{#ipfsInfo config=.}}
        {{#if image0}}
          <img src="https://ipfs.io/ipfs/{{image0}}" alt="" class="circle">
        {{/if}}
          <div class="title">
            <a href="/adlist/{{../adregistryAddress}}/{{../adlistAddress}}/{{../address}}" class="href">
              {{title}}
              <br>
              <small>{{../address}}</small>
            </a>
          </div>
          {{#markdown}}{{description}}{{/markdown}}
          <div class="secondary-content"><i class="material-icons">{{icon}}</i></div>
      {{/ipfsInfo}}
     </li>
      {{else}}
      <p class='flow-text center-align'>No Ads listed </p>
     {{/each}}
    </ul> 
</template>

<template name="adlistInfoForm">
	<form>
	<div class="row">
		<div class="col input-field s12">
			<input name="title" type="text" class='validate' placeholder="Adlist Name" value="{{title}}" required>
			<label for="name" class='active'>Adlist Name</label>
		</div>
	</div>
	<div class="row">
		<div class="col input-field s12">
			<textarea name="description" class="materialize-textarea validate" placeholder="Description" required> {{description}} </textarea>
			<label for="description" class='active'> Description</label>
		</div>
	</div>
	</form>
</template>