<template name="landing">
	<br><br>
	<h1 class="header center black-text"> Welcome to Smart Ads </h1>	
	<div class="row center">
		<h5 class="header col s12 light"> A decentralized advertising platform </h5>
	</div>
	<div class="row center">
	<!-- Display deploying tracker -->
	{{#if TemplateVar.get "deploying"}}
		<div class="row">
			<p class="teal-text"> Deploying a new Adlist ... </p>
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>
	{{else}}
	<!-- Display the usual form -->
	<div class="row">
			<div class="btn btn-block waves-effect waves-light new-adlist"> Create a new Adlist </div>
		</div>
		<br><br>
		<h3 class="header center black-text"> Jump to Adlist </h3>
		<form class="row">
			<div class="col s12 m9">
				<input name="adlist" type="text" placeholder='Enter Adlist Address'>
			</div>
			<div class="col s12 m3">
				<button class="btn btn-block waves-effect waves-light black" type='submit'> Go </button>
			</div>
		</form>
		<br><br>
		<h3 class="header center black-text"> Search Ad </h3>
		<form class="row">
			<div class="col s12 m9">
				<input name="searchterm" type="text" placeholder='Search for ad'>
			</div>
			<div class="col s12 m3">
				<button class="btn btn-block waves-effect waves-light black" type='submit'> Go </button>
			</div>
		</form>
	{{/if}}
	</div> 			
</template>